<font class="papago-parent"><font class="papago-source" style="display:none;"><!DOCTYPE html>
</font><!DOCTYPE html>
</font><font class="papago-parent"><font class="papago-source" style="display:none;"><html lang="ko">
</font><html랑="ko">
</font><font class="papago-parent"><font class="papago-source" style="display:none;">
</font>

</font><font class="papago-parent"><font class="papago-source" style="display:none;"><head>
</font><머리>
</font><font class="papago-parent"><font class="papago-source" style="display:none;">    <meta charset="</font>    <<meta char charset="</font><font class="papago-parent"><font class="papago-source" style="display:none;">UTF-8">
</font>UTF-8">
</font><font class="papago-parent"><font class="papago-source" style="display:none;">    <title>email ejs</title>
</font>    EJs.
</font><font class="papago-parent"><font class="papago-source" style="display:none;"></head>
</font></머리>
</font><font class="papago-parent"><font class="papago-source" style="display:none;">
</font>

</font><font class="papago-parent"><font class="papago-source" style="display:none;"><body>
</font><몸>
</font><font class="papago-parent"><font class="papago-source" style="display:none;">    <h1>안녕 !!</font>    <h1>안녕 !!</font><font class="papago-parent"><font class="papago-source" style="display:none;"> <%= email %>
</font> <%= 이메일 %>
</font><font class="papago-parent"><font class="papago-source" style="display:none;">    </h1>
</font>    </h1>
</font><font class="papago-parent"><font class="papago-source" style="display:none;">    <p>반갑습니다 ^^ ! </p>
</font>    <p>안녕하세요. </p>
</font><font class="papago-parent"><font class="papago-source" style="display:none;"></body>
</font></몸>
</font><font class="papago-parent"><font class="papago-source" style="display:none;">
</font>

</font><font class="papago-parent"><font class="papago-source" style="display:none;"></html></font></기호></font>
